
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$mustard: #e69517;
$powderblue: #0ea4cc;
$customgreen: #00a65a;
$hotorange: #d84a3a;
$hotpink: #df8dc7;
$darkblue: #1c67fb;
$font-14: 14px;

.blue {
    color: $blue;
}
.indigo {
    color: $indigo;
}
.purple{
    color: $purple !important;
}
.pink {
    color: $pink;
}
.red {
    color: $red;
}
.orange {
    color: $orange !important;
}
.yellow {
    color: $yellow !important;
}
.green {
    color: $green;
}
.teal {
    color: $teal;
}
.cyan {
    color: $cyan;
}
.mustard {
    color: $mustard !important;
}
.powderblue {
    color: $powderblue !important;
}
.hotorange {
    color: $hotorange !important;
}
.customgreen {
    color: $customgreen !important;
}
.hotpink {
    color: $hotpink !important;
}
.darkblue {
    color: $darkblue !important;
}
.font-14 {
    font-size: $font-14;
}