
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Foundation
@import "node_modules/foundation-sites/assets/foundation";

// Foundation settings
@import "settings";

body {
  background-color: #000000;
}
div#app {
  .navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  
  .container-fluid {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-cybrary {
    background-color: #5f0e0e;
    position: relative;
    display: flex;
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
  }
  .text-white {
    color: #fff !important;
  }
  .navbar-brand {
    display: inline-block;
    padding-top: 0.32rem;
    padding-bottom: 0.32rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
  }
  a {
    text-decoration: none;
    background-color: transparent;
  }
  .navbar-collapse {
    display: flex !important;
    flex-grow: 1;
    align-items: center;
    flex-basis: auto;
  }
  .mr-auto, .mx-auto {
    margin-right: auto !important;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .ml-auto {
    margin-left: auto !important;
  }
  .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .dropdown-toggle {
    white-space: nowrap;
  }
}

.pagination {
  text-align: center;
}
.icon {
  padding: 10px;
}
.actions-column {
  width: "10%";
  text-align: center;
}
.el-card__body {
  background: #eacdcd;
}
.card-font {
  font-size: 28px;
}
tbody tr:nth-child(even) {
  background-color: #f3eaea;
}
.add-icon {
  float: right;
  margin: 5px 5px 0px 0px;
  font-size: 35px;
  color: #5f0e0e;
}

.login {
  width: 20%;
  z-index: 15;
  margin-top: 10%;
  margin-left: 40%;
  background-color: #ffc4c4;
  border-radius: 20px;
  padding: 20px;
}

.login-welcome {
  font-size: 14px;
  text-align: center;
}

.login-button {
  border-radius: 10%;
}

.login-fields {
  border-radius: 50%;
  text-align: center;
}